.parallax {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.parallax .img-parallax {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .parallax {
    display: none;
  }
}
