@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;

	Inspiration from "Responsive Web Design" by Ethan Marcotte
	http://www.alistapart.com/articles/responsive-web-design

	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;
}

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	clear: none;
	float: none;
	max-width:1000px;
}
#demo_header {
	width: 100%;
	margin-top: 19px;
	position: static;
	display: none;
}
.banner{
	background-image: url(../img/banner_bg.gif);
	border: 1px solid #E5E5E5;
}
#leaderboard {
	display: none;
	float: right;
	width: 728px;
	margin-left: 0;
	height: 90px;
}
#demo_logo {
	margin-left: 13px;
	padding-left: 0px;
	position: static;
	clear: both;
	text-align: center;
}
#logo {
	font-family: arvo;
	font-style: normal;
	font-weight: 700;
	font-size: 2.4em;
	color: #bdbdbd;
	text-align: center;
}
.navlogo{
	font-family: arvo;
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	color: #bdbdbd !important;
	border:none !important;
	background:none !important;
	padding:0px !important;
}
#mainNav {
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}
#contentArea {
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #7F7F7F;
}
.demo_breadcrumb {
	border-radius: 5px 5px 0px 0px !important;
	border-bottom: 1px solid #F0F0F0;
	background-color: #FFFFFF;
	color: #C9C9C9;
	font-size: 0.8em;
	font-weight: bold;
	padding: 8px 15px;
}
#mrec_ad {
	clear: both;
	margin-top: 10px;
	margin-left: 0;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #7F7F7F;
	padding:9px 1px;
}
#videoContent {
	clear: both;
	margin-top: 10px;
	margin-left: 0;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #7F7F7F;
	padding:9px;
}
#tvContent {
	clear: both;
	margin-top: 10px;
	margin-left: 0;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #7F7F7F;
	padding:9px;
}
#wsky {
	display:none;
	width: 160px;
	height: 600px;
	float: right;
}
#mrec {
	display:block;
	float:none;
	margin: auto !important;
	width: 300px;
	height: 250px;
}
.articleContent {
	padding: 15px;
	vertical-align:middle;
	border-bottom: 1px solid #F0F0F0;
}
.articleMain {
	padding: 15px;
	background:#fafafa;
	border-bottom: 1px solid #F0F0F0;
}
.demo_title {
	font-family: Helvetica, "Arial", sans-serif;
	font-size: 1.5em;
	font-weight: bolder;
}
.demo_list {
	font-family: Helvetica, "Arial", sans-serif;
	font-size:0.9em;
	font-weight:bold;
	list-style:square;
	margin: 3px 15px;
	padding: 0px;
}
.demo_list li {
	padding-right: 15px;

}
.articleHeader {
}
.thumbImg {
	display: inline;
	/*width:125px;*/
	width:29.9043%;
	min-width:100px;
	max-width:125px;
	float: left;
	margin:0px 10px 10px 0px;
}
.demo_feedtitle {
	margin: 0px 0px 5px 0px;
	font-family: Helvetica, "Arial", sans-serif;
	font-size: 1.3em;
	font-weight: bold;
}
.demo_description{
	margin-bottom: 5px;
	font-size: 0.9em;
}
.small_meta {
	margin-bottom: 5px;
	font-size: 0.74em;
}
p.small_meta > *{
	float: left;
}
.small_meta .icon{
	background: url(../img/small_meta_icons.png);
	width: 12px !important;
	height: 12px;
	float: left;
	/*margin: 1px 5px 0px 15px;*/
	margin: 0.23923% 1.19617% 0px 2.39234%;
}
.small_meta .generic_image {
	margin: 1px 5px 0px 0px;
}
.small_meta .generic_time {
	background-position: 0px -12px;
}
.small_meta .generic_response {
	background-position: 0px -24px;
}
.demo_side {
	border: 1px solid #E5E5E5;
	border-radius:4px;
}
.side_title {
	padding:3.10559%;
	border-bottom: 1px solid #F0F0F0;
}
.side_title h1 {
	display:inline-block;
	width:auto;
	font-family: Helvetica, "Arial", sans-serif;
	font-size: 1.5em;
	font-weight: bolder;
	margin:0px;
}
.side_title span {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	font-size: 0.85em;
	padding:0.62111% 1.24223%;
	float: right;
	margin:0px;
}
.demo_page {
	float:right;
	width: 10.182%;
	min-width:32px;
	max-width:32px;
	height:27px;
	margin: 0 1.593%;
}
.demo_pagination {
	float:left;
	width:100%;
	list-style: none outside none;
	margin:9px 0 0 0;
	padding:0;
}
.demo_pagination li{
	float:left !important;
	height: 8px;
	border-radius:4px;
	width: 8px;
	background: #e8e8e8;
	margin: 0 8.945% 0 0;
}
.selected {
	background: #b0b0b0 !important;
}
.demo_arrow {
	padding:0% 2.87331534309% !important;
	font-size: 1.3em !important;
}
.side_content {
	padding:3.10559%;
	background:#fafafa;
	border-bottom: 1px solid #F0F0F0;
}
.videoThumb {
	float:left;
	margin-right: 2.950325%;
	width: 31.36645%;
	background:#ffffff;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	font-size: 0.8em;
	padding:1.86335%;
	text-align:right;
}
.lastThumb {
	margin-right: 0px !important;
}
.firstThumb {
	margin-left: 0px !important;
}
.videoThumb img {
	width:100%;
	padding-bottom:2px;
}
.tvThumb {
	float:left;
	width: 100%;
	font-size: 0.9em;
}
.tvThumb p {

}
.tvImg {
	display: block;
	float:left;
	width:38.19875%;
	min-width:100px;
	max-width:123px;
	float: left;
	margin:0px 10px 10px 0px;
	border: 1px solid #E5E5E5;
}
.tvThumb h3 {
	margin: 0px 0px 5px 0px;
	/*
	float:left;
	margin: -18px 0px 0px 0px;
	width: 58.69566%;*/
	font-family: Helvetica, "Arial", sans-serif;
	font-size: 1.2em;
	font-weight:bold;
}
.side_contentBelow {
	padding:3.10559%;
	font-size: 0.8em;
}
.side_contentBelow div span{
	display:inline-block;
	width: 33%;
	border-left: 1px solid #F0F0F0;
	text-align:center;
}
.firstItem {
	border-left: 0px !important;
	text-align:left !important;
}
.side_belowTitle{
	font-family: Helvetica, "Arial", sans-serif;
	font-size: 1em;
	font-weight:bold;
	padding-bottom: 8px;
	margin-bottom: 5px;
	border-bottom: 1px solid #F0F0F0;
}
#demo_footer {
	margin-top:10px;
	border-top: 1px solid #cccccc;
	font-size: 0.75em;
	color:#686868;
	text-align:center;
	padding: 4% 8% 4% 8%;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width:481px){

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
}
#demo_header {
	width: 100%;
	position: static;
	display: none;
}
#leaderboard {
	width: 728px;
	height: 90px;
	margin-left: 0;
	display: none;
}
#demo_logo {
	margin-left: 0;
	position: static;
	clear: both;
	width: 20%;
	text-align: center;
	height: 90px;
}
#mainNav {
}
#contentArea {
}
.demo_breadcrumb {
}
#videoContent {
	clear: both;
	margin-top: 10px;
	margin-left: 0;
}
#tvContent {
	clear: both;
	margin-top: 10px;
	margin-left: 0;
}
#mrec_ad {
	clear: both;
	margin-top: 10px;
	margin-left: 0;
}
#mrec {
	float:none;
	margin: auto !important;
	width: 300px;
	height: 250px;
}
#wsky {
	display: none;
}
.articleContent {

}
.demo_title {
}
.demo_list {
}
.articleHeader {
}
.thumbImg {
}
.demo_side {
}
.side_title {
}
.side_content {
}
.side_contentBelow {
}
#demo_footer {
	padding: 1% 1% 2% 1%;
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}


/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. original min-width: 768px */

@media only screen and (min-width:768px){

.gridContainer {
	width: 100%;
	min-width: 1000px;
	padding-left: 1.11275964391%;
	padding-right: 1.11275964391%;
	margin: auto;
	clear: none;
	float: none;
}
#demo_header {
	width: 100%;
	position: static;
	display: block;
}
#leaderboard {
	width: 728px;
	margin-left: 0;
	height: 90px;
	display: block;
}
#demo_logo {
	margin-left: 2%;
	position: static;
	clear: none;
	text-align: justify;
	vertical-align: text-bottom;
}
#logo {
	position: relative;
	clear: none;
	color:#bdbdbd;
	top:34px;
}
#mainNav {
}
#contentArea {
	width: 44.7425825392%;
}
.demo_breadcrumb {
}
#videoContent {
	margin-top: 0;
	margin-left: 1.1340285897%;
	clear: none;
	width: 36.4951018868%;
}
#tvContent {
	margin-top:10px;
	margin-left: 1.1340285897%;
	clear: none;
	width: 36.4951018868%;
}
#mrec_ad {
	margin-top:10px;
	margin-left: 1.1340285897%;
	clear: none;
	width: 36.4951018868%;
	padding:9px;
}
#mrec {
	float:none !important;
	margin:auto !important;
	width: 300px;
	height: 250px;
}
#wsky {
	clear: none;
	display: block;
}
.articleContent {

}
.demo_title {
}
.demo_list {
}
.articleHeader {
}
.thumbImg {
}
.demo_side {
}
.side_title {
}
.side_content {
}
.side_contentBelow {
}
#demo_footer {
	padding: 1% 1% 2% 1%;
}
.zeroMargin_desktop {
  margin-left: 0;
}
.hide_desktop {
  display: none;
}
}
